<!DOCTYPE html>
<html>

<!-- The included template contains all the links, JS and Styling files to be included in the pages, to alter the contents please refer to templates/included.html file -->
<% include templates/included.html %>
<html lang="en">

<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"/>
</head>

</head>
<body>

<div class="ui basic vertical segment" id="header">
    <div class="ui container">
        <div class="ui large secondary pointing menu">
            <a class="item" href="/aboutus">
                About Us
            </a>
            <a class="item" href="/contactus">
                Contact Us
            </a>
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search tutor">
                    <i class="search link icon"></i>
                </div>
            </div>

            <a class="right item">
                <a class="item" id="loginButton">
                    Login
                </a>
                <a class="item" href="/registration">
                    Register
                </a>
            </a>
        </div>
    </div>
<br>
<div class="ui grid container">
    <h1>TutorMe</h1>
    <p>
        As students ourselves, we understand the hardships that many students experience when pursuing their academic career. Among all kinds of challenges during the university life, the two major ones are financial and learning difficulties. At TutorMe, we believe that anyone is worth learning from and that knowledge is also gained by sharing and studying from the others. For those who have mastered their studies, let share your knowledge and turn it into wisdom by letting the others who differ to challenge it. Knowledge is nothing until we put it into practice, let our knowledge financially benefit us by tutoring whoever needs it. For those who are struggling to achieve their academic goals, let your peers who have already well gone through the relevant studies to help you. Our student life is short, let us learn and share as much as we can

        Therefore, TutorMe is born as a channel of linking bridge between who want to tutor and who want to learn. We aim to deliver good experience to all users by helping:
        <div class="ui bulleted list">
        <div class="item">Well and hard-studying students to earn extra income by using their knowledge to tutor the others</div>
        <div class="item">Any student to get tutorial and achieve their academic goals</div>
        <div class="item">To encourage the learning enthusiasm</div>
        <div class="item">To connect students and exchange the knowledge</div>
        </div>

    </p>
</div>
</body>
</html>
