<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Calender2</title>
    <style>

        * {box-sizing: border-box;}
        body {font-family: Verdana, sans-serif;}
        table{
            border-collapse: collapse;
            width: 100%;
            text-align: center;
        }
        tr:nth-child(even){background-color: #f2f2f2}
        th {
            background-color: #4CAF50;
            color: white;
        }
        td{
            height: 40px;
        }

        td:hover {
            background-color: yellow;
        }

        .info {
            padding: 35px 25px;
            width: 100%;
            background: #1abc9c;
            text-align: center;
            margin: 0;
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }


        .info .prev {
            float: left;
            padding-top: 10px;
        }

        .info .next {
            float: right;
            padding-top: 10px;
        }




        .selected{
            background-color: gold;
        }

        .available{
            background-color: greenyellow;
        }

        .requested{
            background-color: orangered;
        }

    </style>

    <script>
        var today = new date();


    </script>


</head>
<body>


<h1><%= username%>  Courses: <%= courses%> times: </h1>

<div class="info">
        <span class="prev">Prev</span>
        <span class="next">Next</span>
        <br>Bryan Chen</br>
            <span style="font-size:18px">5 star</span>
</div>

<table class="calender">
    <tr>
        <th>Time</th>
        <th>Mo 01/01</th>
        <th>Tu 02/01</th>
        <th>We 03/01</th>
        <th>Th 04/01</th>
        <th>Fr 05/01</th>
        <th>Sa 06/01</th>
        <th>Su 31/12</th>
    </tr>


    </tr>
</table>

</body>

<script>


    function request() {
        this.className = "requested";
        this.addEventListener("click", unrequest);
    }


    function unrequest() {
        this.className = "empty";
        this.addEventListener("click", request);
    }

    function select() {
        this.className = "selected";
        this.addEventListener("click", unselect);
    }

    function unselect() {
        this.className = "available";
        this.addEventListener("click", select);
    }
    
    
    var cale = document.getElementsByClassName("calender")[0];
    for (var i = 8; i < 23; i++){
        var newrow = document.createElement('tr');
        var fsttd = document.createElement('td');
        fsttd.innerHTML = i + ':00';
        newrow.appendChild(document.createElement('td').appendChild(fsttd));
        for(var j = 1; j <8; j++){

            var newtd = document.createElement('td');
            newtd.id = j + "."+ i;
            newtd.className = "empty";
            newtd.innerHTML = "..";
            newtd.addEventListener("click", request);
            newrow.appendChild(newtd);
        }
        cale.appendChild(newrow);
    }
    var availables = document.getElementsByClassName('available');
    availables.addEventListener("click", select);





</script>
</html>