<!DOCTYPE html>
<html>

<!-- The included template contains all the links, JS and Styling files to be included in the pages, to alter the contents please refer to templates/included.html file -->
<% include templates/included.html %>
<html lang="en">

<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"/>
</head>

</head>
<body>

<div class="ui basic vertical segment" id="header">
    <div class="ui container">
        <div class="ui large secondary pointing menu">
            <a class="item" href="/aboutus">
                About Us
            </a>
            <a class="item" href="/contactus">
                Contact Us
            </a>
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search tutor">
                    <i class="search link icon"></i>
                </div>
            </div>

            <a class="right item">
                <a class="item" id="loginButton">
                    Login
                </a>
                <a class="item" href="/registration">
                    Register
                </a>
            </a>
        </div>
    </div>
    <br>
    <div class="ui grid container">
        <p>Email: nz.tutorme@gmail.com</p>

    </div>
</body>
</html>
