<h1>LOL you have a problem: <%= message %></h1>
<h2><%= error.status %></h2>
<div>
    <img src="https://qph.ec.quoracdn.net/main-qimg-f735bd63f7afd6044f39fc56e588db20-c" style="height: 250px">
</div>
<p>Be a honey badger and go debug! :p</p>
<pre>To help you the stack is as follows:

    <%= error.stack %></pre>
