<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p><a href="/loginPage">Login</a> </p>
<p><a href="/registration">Register now!</a> </p>
</body>
</html>
