<!DOCTYPE html>
<html>

<!-- The included template contains all the links, JS and Styling files to be included in the pages, to alter the contents please refer to templates/included.html file -->
<% include templates/included.html %>
<head>
    <title><%= title %></title>
</head>

<body>

<!--The navbar template included below, to alter the contents please refer to templates/navbar.html file-->
<% include templates/navbar.html %>

<div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/loginPage">Login</a> </p>
    <p><a href="/registration">Register now!</a> </p>
</div>

</body>
</html>
