<!DOCTYPE html>
<html>

<!-- The included template contains all the links, JS and Styling files to be included in the pages, to alter the contents please refer to templates/included.html file -->
<% include templates/included.html %>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/stylesheets/index.css"/>
</head>
<body>
<div>
<a href="/aboutus">About Us</a>
</div>
<div>
<a href="/contactus">Contact Us</a>
</div>

<div class="ui text center aligned container">
    <h1 class="ui center aligned header">
        Welcome to <%= title %>!
    </h1>
    <div>
        <h2>
            (our statement)
        </h2>
    </div>
    <br>
    <div class="ui two column grid">
        <div class="row">
            <div class="column">
                <button class="ui right floated button"><a href="/registration">Register</a></button>
            </div>
            <div class="column">
                <button class="ui left floated button"><a href="/login">Log in</a></button>
            </div>
        </div>
    </div>


</div>

</body>


</html>
