<!DOCTYPE html>
<html>

<!-- The included template contains all the links, JS and Styling files to be included in the pages, to alter the contents please refer to templates/included.html file -->
<% include templates/included.html %>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
</head>

<body>

<!--The navbar template included below, to alter the contents please refer to templates/navbar.html file-->
<% include templates/navbar.html %>

<!--<div class="ui container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/loginPage">Login</a> </p>
    <p><a href="/registration">Register now!</a> </p>
</div>-->


<div class="ui text center aligned container">
    <h1 class="ui center aligned header">
        Welcome to <%= title %>!
    </h1>
    <button class="ui huge primary button" href="/registration">Sign up</button>
    <!--<button class="ui left floated button" href="/registration">Left Floated</button>-->
    <div class="ui bottom attached message">
        Already signed up? <a href="/loginPage">Login here</a> instead.
    </div>
</div>



</body>
</html>
