<!DOCTYPE html>
<html>

<!-- The included template contains all the links, JS and Styling files to be included in the pages, to alter the contents please refer to templates/included.html file -->
<% include templates/included.html %>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"/>
</head>
<body>


<!--The navbar template included below, to alter the contents please refer to templates/navbar.ejs file-->


<!--<div class="ui container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/login">Login</a> </p>
    <p><a href="/registration">Register now!</a> </p>
</div>-->

<!--<div class="ui text center aligned container">
    <h1 class="ui center aligned header">
        Welcome to <%= title %>!
    </h1>
    <div style="">
        <img src="https://www.fluentu.com/blog/educator-french/wp-content/uploads/sites/12/2017/04/how-to-tutor-french-e1491698297795.jpg"/>
    </div>
    <div>
        <h2>
            (our statement)
        </h2>
    </div>
    <br>
    <div class="ui two column grid">
        <div class="row">
            <div class="column">
                <button class="ui right floated button"><a href="/registration">Register</a></button>
            </div>
            <div class="column">
                <button class="ui left floated button"><a href="/login">Login</a></button>
            </div>
        </div>
    </div>


</div>-->

<div class="ui basic vertical segment" id="header">
    <div class="ui container">
        <div class="ui large secondary pointing menu">
            <a class="item" href="/aboutus">
                About Us
            </a>
            <a class="item" href="/contactus">
                Contact Us
            </a>
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search tutor">
                    <i class="search link icon"></i>
                </div>
            </div>

            <a class="right item">
                <a class="item" id="loginButton">
                    Login
                </a>
                <a class="item" href="/registration">
                    Register
                </a>
            </a>
        </div>
    </div>

    <div class="ui center aligned text container" id="middle">
        <h1 class="ui header" id="header">
           No tutor, no life
        </h1>
        <div align="middle">
            <img class="ui medium image" src='https://i.imgur.com/WHAKGfJ.gif'/>
        </div>


    </div>


    <% include templates/footer.ejs%>
</div>

<div class="ui tiny modal" id="loginModal">
    <div class="ui text center aligned container">
        <h1 class="ui header">
            Login in to TutorMe!
        </h1>
        <form class="ui small form" action="/login/logging" method="POST">
            <div class="ui basic segment" align="middle">
                <div class="ten wide field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="userName" placeholder="User name">
                    </div>
                </div>
                <div class="ten wide field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="passWord" placeholder="Password">
                    </div>
                </div>
                <input type="submit" value="Submit" class="ui teal submit button" >
            </div>
            <div class="ui error message"></div>
        </form>
    </div>
</div>

</body>


</html>
<script>
    $(document).ready(function () {
        $('#loginButton').click(function () {
            $('.ui.tiny.modal')
                .modal('show')
            ;
        })
    })

</script>