<!DOCTYPE html>
<html>

<!-- The included template contains all the links, JS and Styling files to be included in the pages, to alter the contents please refer to templates/included.html file -->
<% include templates/included.html %>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/stylesheets/index.css"/>
</head>
<body>

<!--The navbar template included below, to alter the contents please refer to templates/navbar.ejs file-->
<% include templates/navbar.ejs %>

<!--<div class="ui container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/login">Login</a> </p>
    <p><a href="/registration">Register now!</a> </p>
</div>-->

<div>
    <a href="/aboutus">About Us</a>
</div>
<div>
    <a href="/contactus">Contact Us</a>
</div>

<div class="ui text center aligned container">
    <h1 class="ui center aligned header">
        Welcome to <%= title %>!
    </h1>
    <div style="">
        <img src="https://www.fluentu.com/blog/educator-french/wp-content/uploads/sites/12/2017/04/how-to-tutor-french-e1491698297795.jpg"/>
    </div>
    <div>
        <h2>
            (our statement)
        </h2>
    </div>
    <br>
    <div class="ui two column grid">
        <div class="row">
            <div class="column">
                <button class="ui right floated button"><a href="/registration">Register</a></button>
            </div>
            <div class="column">
                <button class="ui left floated button"><a href="/login">Login</a></button>
            </div>
        </div>
    </div>


</div>

</body>


</html>
