<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>Register now!</h1>
<p>Type in your details and submit to register:</p>
<form action="/login" method="GET">
    Username: <input type="text" name="userName"><br>
    Password: <input type="text" name="passWord"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
