<!DOCTYPE html>
<html>

<!-- The included template contains all the links, JS and Styling files to be included in the pages, to alter the contents please refer to templates/included.html file -->
<% include templates/included.html %>

<head>
    <title>Registration</title>
</head>
<body>
<!--The navbar template included below, to alter the contents please refer to templates/navbar.html file-->
<% include templates/navbar.html %>

<div class="container">
    <h1>Register now!</h1>
    <p>Type in your details and submit to register:</p>
    <form action="/registerDetails" method="POST">
        Username: <input type="text" name="userName"><br>
        Password: <input type="text" name="passWord"><br>
        Tutor: <input type="checkbox" name="tutorActivation" value=1><br>
        First name: <input type="text" name="firstName"><br>
        Last name: <input type="text" name="lastName"><br>
        Address: <input type="text" name="address"><br>
        Date of Birth: <input type="date" name="dateOfBirth"><br>
        Email: <input type="email" name="email"><br>
        Study institution: <input type="text" name="school"><br>
        Student ID: <input type="text" name="studentId"><br>
        <input class="button" type="submit" value="Submit">

    </form>
</div>

</body>
</html>
