<link rel="stylesheet" href="/stylesheets/footer.css">
<div class="ui basic vertical center aligned segment" id="footer">
    <div class="ui center aligned container">
        <img src="https://i.imgur.com/FjQFqbU.jpg" class="ui centered mini image">
    </div>
    <div class="ui horizontal small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
    </div>
</div>