<link rel='stylesheet' type='text/css' href='/stylesheets/navbar.css'/>

<body>
<div class="ui large secondary pointing menu" id="menu">
    <a class="item" href="/">
        <img src="https://i.imgur.com/FjQFqbU.jpg" class="ui centered mini image">
    </a>


    <div class="item">
        <div class="ui icon input" id="searchBar">
            <input type="text" placeholder="Search tutor">
            <i class="search link icon"></i>
        </div>
    </div>


    <a class="right item">
        <% if (typeof userDetails !== 'undefined') { %>
        <a class="item" href="/user/profile">
            Profile
        </a>
        <a class="item" href="/user/feedback">
            Feedback
        </a>
        <% if(userDetails[0].tutor_activation === 1){ %>
        <a class="item" href="/user/tutorSchedule">
            Tutor Schedule
        </a>
        <a class="item" href="/listing">
            Listing
        </a>
        <% } %>
        <a class="item" href="/login/logout">Logout</a>
        <% } else { %>
        <a class="item" href="/login/logout">
            Login
        </a>
        <% } %>
    </a>
</div>

<script>

</script>

</body>