
/*Searchbar width*/
div#searchBar {
    max-width: 100%;
    width: 30em;
}

div#navbar, div#dropdownMenu,.menu.transition.visible {
    background-color: #fbfbfb;
}

div#navbar{
    margin-top: 0;
}
.ui.mini.circular.image{
    right: 0.5em;
    width: 2.5em;
}
#menuDropdown{
    right: 0;
    left: auto;
    top: 1.5em;
}