
/*Searchbar width*/
div#searchBar {
    max-width: 100%;
    width: 600px;
}

div#navbar, div#dropdownMenu,.menu.transition.visible {
    background-color: #fbfbfb;
}

div#navbar{
    margin-top: 0;
}
.ui.mini.circular.image{
    right: 3px;
    width: 25px;
}
#menuDropdown{
    right: 0;
    left: auto;
}