.available {
    background-color: #666672;
    color: white;
}

.editing {
    background-color: pink;
    color: white;
}

.deleting {
    background-color: #dd1188;
    color: white;
}

.booked {
    background-color: #e6989b;
    color: white;
}

.booking {
    background-color: #0be604;
    color: white;
}

.clickButton {
    background-color: #4CAF50;
    color: white;
}

a#myDetail {
    color: #fff4f9;
}

/*column width*/
td{
    width: 12.5% !important;
}
