<!DOCTYPE html>



<html lang="en">

<% include ../templates/included.html %>

<head>
    <meta charset="UTF-8">
    <title>feedbackTest</title>

    <style>
        #myProgress {
            width: 50%;
            background-color: #ddd;
        }


        .totalBars {
            width: 60%;
            height: 30px;
            background-color: #4CAF50;
            text-align: center;
            line-height: 30px;
            color: white;
        }
    </style>

</head>
<body>

<h1>Bryan Chen's awesome rating page</h1>
<div>
    <h2>Average stars: </h2>
</div>

<div id="myProgress">
    <div class= totalBars id="star5">3</div>
    <hr>
    <div class= totalBars id="star4">3</div>
    <hr>
    <div class= totalBars id="star3">3</div>
    <hr>
    <div class= totalBars id="star2">3</div>
    <hr>
    <div class= totalBars id="star1">3</div>
</div>
<hr>



<div class="lister-item mode-detail imdb-user-review  collapsable" data-vote-url="/title/tt3521126/review/rw3877210/vote/interesting" data-initialized="true">
    <div class="review-container" style="max-height: none;">
        <div class="lister-item-content">
            <div class="ipl-ratings-bar">
            <span class="rating-other-user-rating">
            <svg class="ipl-star-icon" xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
                <span>8</span><span class="point-scale">/10</span>
            </span>
            </div>
            <div class="title">James Franco breaks new ground</div>
            <div class="display-name-date">
                <span class="display-name-link"><a href="/user/ur18408040/?ref_=tt_urv">Danielle De Colombie</a></span><span class="review-date">8 December 2017</span>
            </div>
            <div class="content">
                <div class="text">Ed Wood was Stanley Kubrick compared to Tommy Wiseau but James Franco treats him with such loving care that we can connect with his humanity without letting his eccentricities pull us away from him. That, I think, was the most moving aspect of this outrageous true life tale. James Franco is spectacular keeping it true and real in a character that lent itself for caricature. Dave Franco, James's brother in real life is the most believable instant soulmate of the James Dean wannabe. Seth Rogen is also perfect as the one knows that they're in for a major disaster and yet sees the whole thing to the bitter end. I must confess I hadn't heard of The Room but now it's on top of my list of films I want to see next.</div>
                <div class="actions text-muted">
                    31 out of 33 found this helpful.
                    <span>Was this review helpful? <button class="btn small" data-value="UP">Yes</button> <button class="btn small" data-value="DOWN">No</button></span>
                    | <a href="https://contribute.imdb.com/review/tt3521126/rw3877210/report?bus=imdb&amp;return_url=http%3A//www.imdb.com/close_me&amp;site=www&amp;ref_=tt_urv" onclick="imdb.contribution.clickHandler(event)">Report this</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="gradient-expander hidden show-more">
        <div class="gradient-container"></div>
        <div class="ipl-expander ">
            <div class="ipl-expander__container">
                <span class="show-more__control ipl-expander__control">&nbsp;</span>
                <svg class="ipl-expander__icon expander-icon " width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.197 0L6 4.304 1.803 0 0 1.85 6 8l6-6.15" fill="#2572B3" fill-rule="evenodd"></path>
                </svg>
            </div>
        </div>
    </div>
</div>




<div class="lister-item mode-detail imdb-user-review  collapsable" data-vote-url="/title/tt3521126/review/rw3877210/vote/interesting" data-initialized="true">
    <div class="review-container" style="max-height: none;">
        <div class="lister-item-content">
            <div class="ipl-ratings-bar">
            <span class="rating-other-user-rating">
            <svg class="ipl-star-icon" xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
                <span>8</span><span class="point-scale">/10</span>
            </span>
            </div>
            <div class="title">James Franco breaks new ground</div>
            <div class="display-name-date">
                <span class="display-name-link"><a href="/user/ur18408040/?ref_=tt_urv">Danielle De Colombie</a></span><span class="review-date">8 December 2017</span>
            </div>
            <div class="content">
                <div class="text">Ed Wood was Stanley Kubrick compared to Tommy Wiseau but James Franco treats him with such loving care that we can connect with his humanity without letting his eccentricities pull us away from him. That, I think, was the most moving aspect of this outrageous true life tale. James Franco is spectacular keeping it true and real in a character that lent itself for caricature. Dave Franco, James's brother in real life is the most believable instant soulmate of the James Dean wannabe. Seth Rogen is also perfect as the one knows that they're in for a major disaster and yet sees the whole thing to the bitter end. I must confess I hadn't heard of The Room but now it's on top of my list of films I want to see next.</div>
                <div class="actions text-muted">
                    31 out of 33 found this helpful.
                    <span>Was this review helpful? <button class="btn small" data-value="UP">Yes</button> <button class="btn small" data-value="DOWN">No</button></span>
                    | <a href="https://contribute.imdb.com/review/tt3521126/rw3877210/report?bus=imdb&amp;return_url=http%3A//www.imdb.com/close_me&amp;site=www&amp;ref_=tt_urv" onclick="imdb.contribution.clickHandler(event)">Report this</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="gradient-expander hidden show-more">
        <div class="gradient-container"></div>
        <div class="ipl-expander ">
            <div class="ipl-expander__container">
                <span class="show-more__control ipl-expander__control">&nbsp;</span>
                <svg class="ipl-expander__icon expander-icon " width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.197 0L6 4.304 1.803 0 0 1.85 6 8l6-6.15" fill="#2572B3" fill-rule="evenodd"></path>
                </svg>
            </div>
        </div>
    </div>
</div>



<div class="lister-item mode-detail imdb-user-review  collapsable" data-vote-url="/title/tt3521126/review/rw3877210/vote/interesting" data-initialized="true">
    <div class="review-container" style="max-height: none;">
        <div class="lister-item-content">
            <div class="ipl-ratings-bar">
            <span class="rating-other-user-rating">
            <svg class="ipl-star-icon" xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
                <span>8</span><span class="point-scale">/10</span>
            </span>
            </div>
            <div class="title">James Franco breaks new ground</div>
            <div class="display-name-date">
                <span class="display-name-link"><a href="/user/ur18408040/?ref_=tt_urv">Danielle De Colombie</a></span><span class="review-date">8 December 2017</span>
            </div>
            <div class="content">
                <div class="text">Ed Wood was Stanley Kubrick compared to Tommy Wiseau but James Franco treats him with such loving care that we can connect with his humanity without letting his eccentricities pull us away from him. That, I think, was the most moving aspect of this outrageous true life tale. James Franco is spectacular keeping it true and real in a character that lent itself for caricature. Dave Franco, James's brother in real life is the most believable instant soulmate of the James Dean wannabe. Seth Rogen is also perfect as the one knows that they're in for a major disaster and yet sees the whole thing to the bitter end. I must confess I hadn't heard of The Room but now it's on top of my list of films I want to see next.</div>
                <div class="actions text-muted">
                    31 out of 33 found this helpful.
                    <span>Was this review helpful? <button class="btn small" data-value="UP">Yes</button> <button class="btn small" data-value="DOWN">No</button></span>
                    | <a href="https://contribute.imdb.com/review/tt3521126/rw3877210/report?bus=imdb&amp;return_url=http%3A//www.imdb.com/close_me&amp;site=www&amp;ref_=tt_urv" onclick="imdb.contribution.clickHandler(event)">Report this</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="gradient-expander hidden show-more">
        <div class="gradient-container"></div>
        <div class="ipl-expander ">
            <div class="ipl-expander__container">
                <span class="show-more__control ipl-expander__control">&nbsp;</span>
                <svg class="ipl-expander__icon expander-icon " width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.197 0L6 4.304 1.803 0 0 1.85 6 8l6-6.15" fill="#2572B3" fill-rule="evenodd"></path>
                </svg>
            </div>
        </div>
    </div>
</div>


<div class="lister-item mode-detail imdb-user-review  collapsable" data-vote-url="/title/tt3521126/review/rw3877210/vote/interesting" data-initialized="true">
    <div class="review-container" style="max-height: none;">
        <div class="lister-item-content">
            <div class="ipl-ratings-bar">
            <span class="rating-other-user-rating">
            <svg class="ipl-star-icon" xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
                <span>8</span><span class="point-scale">/10</span>
            </span>
            </div>
            <div class="title">James Franco breaks new ground</div>
            <div class="display-name-date">
                <span class="display-name-link"><a href="/user/ur18408040/?ref_=tt_urv">Danielle De Colombie</a></span><span class="review-date">8 December 2017</span>
            </div>
            <div class="content">
                <div class="text">Ed Wood was Stanley Kubrick compared to Tommy Wiseau but James Franco treats him with such loving care that we can connect with his humanity without letting his eccentricities pull us away from him. That, I think, was the most moving aspect of this outrageous true life tale. James Franco is spectacular keeping it true and real in a character that lent itself for caricature. Dave Franco, James's brother in real life is the most believable instant soulmate of the James Dean wannabe. Seth Rogen is also perfect as the one knows that they're in for a major disaster and yet sees the whole thing to the bitter end. I must confess I hadn't heard of The Room but now it's on top of my list of films I want to see next.</div>
                <div class="actions text-muted">
                    31 out of 33 found this helpful.
                    <span>Was this review helpful? <button class="btn small" data-value="UP">Yes</button> <button class="btn small" data-value="DOWN">No</button></span>
                    | <a href="https://contribute.imdb.com/review/tt3521126/rw3877210/report?bus=imdb&amp;return_url=http%3A//www.imdb.com/close_me&amp;site=www&amp;ref_=tt_urv" onclick="imdb.contribution.clickHandler(event)">Report this</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="gradient-expander hidden show-more">
        <div class="gradient-container"></div>
        <div class="ipl-expander ">
            <div class="ipl-expander__container">
                <span class="show-more__control ipl-expander__control">&nbsp;</span>
                <svg class="ipl-expander__icon expander-icon " width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.197 0L6 4.304 1.803 0 0 1.85 6 8l6-6.15" fill="#2572B3" fill-rule="evenodd"></path>
                </svg>
            </div>
        </div>
    </div>
</div>


<div class="lister-item mode-detail imdb-user-review  collapsable" data-vote-url="/title/tt3521126/review/rw3877210/vote/interesting" data-initialized="true">
    <div class="review-container" style="max-height: none;">
        <div class="lister-item-content">
            <div class="ipl-ratings-bar">
            <span class="rating-other-user-rating">
            <svg class="ipl-star-icon" xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
                <span>8</span><span class="point-scale">/10</span>
            </span>
            </div>
            <div class="title">James Franco breaks new ground</div>
            <div class="display-name-date">
                <span class="display-name-link"><a href="/user/ur18408040/?ref_=tt_urv">Danielle De Colombie</a></span><span class="review-date">8 December 2017</span>
            </div>
            <div class="content">
                <div class="text">Ed Wood was Stanley Kubrick compared to Tommy Wiseau but James Franco treats him with such loving care that we can connect with his humanity without letting his eccentricities pull us away from him. That, I think, was the most moving aspect of this outrageous true life tale. James Franco is spectacular keeping it true and real in a character that lent itself for caricature. Dave Franco, James's brother in real life is the most believable instant soulmate of the James Dean wannabe. Seth Rogen is also perfect as the one knows that they're in for a major disaster and yet sees the whole thing to the bitter end. I must confess I hadn't heard of The Room but now it's on top of my list of films I want to see next.</div>
                <div class="actions text-muted">
                    31 out of 33 found this helpful.
                    <span>Was this review helpful? <button class="btn small" data-value="UP">Yes</button> <button class="btn small" data-value="DOWN">No</button></span>
                    | <a href="https://contribute.imdb.com/review/tt3521126/rw3877210/report?bus=imdb&amp;return_url=http%3A//www.imdb.com/close_me&amp;site=www&amp;ref_=tt_urv" onclick="imdb.contribution.clickHandler(event)">Report this</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="gradient-expander hidden show-more">
        <div class="gradient-container"></div>
        <div class="ipl-expander ">
            <div class="ipl-expander__container">
                <span class="show-more__control ipl-expander__control">&nbsp;</span>
                <svg class="ipl-expander__icon expander-icon " width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.197 0L6 4.304 1.803 0 0 1.85 6 8l6-6.15" fill="#2572B3" fill-rule="evenodd"></path>
                </svg>
            </div>
        </div>
    </div>
</div>


<div class="lister-item mode-detail imdb-user-review  collapsable" data-vote-url="/title/tt3521126/review/rw3877210/vote/interesting" data-initialized="true">
    <div class="review-container" style="max-height: none;">
        <div class="lister-item-content">
            <div class="ipl-ratings-bar">
            <span class="rating-other-user-rating">
            <svg class="ipl-star-icon" xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
                <span>8</span><span class="point-scale">/10</span>
            </span>
            </div>
            <div class="title">James Franco breaks new ground</div>
            <div class="display-name-date">
                <span class="display-name-link"><a href="/user/ur18408040/?ref_=tt_urv">Danielle De Colombie</a></span><span class="review-date">8 December 2017</span>
            </div>
            <div class="content">
                <div class="text">Ed Wood was Stanley Kubrick compared to Tommy Wiseau but James Franco treats him with such loving care that we can connect with his humanity without letting his eccentricities pull us away from him. That, I think, was the most moving aspect of this outrageous true life tale. James Franco is spectacular keeping it true and real in a character that lent itself for caricature. Dave Franco, James's brother in real life is the most believable instant soulmate of the James Dean wannabe. Seth Rogen is also perfect as the one knows that they're in for a major disaster and yet sees the whole thing to the bitter end. I must confess I hadn't heard of The Room but now it's on top of my list of films I want to see next.</div>
                <div class="actions text-muted">
                    31 out of 33 found this helpful.
                    <span>Was this review helpful? <button class="btn small" data-value="UP">Yes</button> <button class="btn small" data-value="DOWN">No</button></span>
                    | <a href="https://contribute.imdb.com/review/tt3521126/rw3877210/report?bus=imdb&amp;return_url=http%3A//www.imdb.com/close_me&amp;site=www&amp;ref_=tt_urv" onclick="imdb.contribution.clickHandler(event)">Report this</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="gradient-expander hidden show-more">
        <div class="gradient-container"></div>
        <div class="ipl-expander ">
            <div class="ipl-expander__container">
                <span class="show-more__control ipl-expander__control">&nbsp;</span>
                <svg class="ipl-expander__icon expander-icon " width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.197 0L6 4.304 1.803 0 0 1.85 6 8l6-6.15" fill="#2572B3" fill-rule="evenodd"></path>
                </svg>
            </div>
        </div>
    </div>
</div>


<div class="lister-item mode-detail imdb-user-review  collapsable" data-vote-url="/title/tt3521126/review/rw3877210/vote/interesting" data-initialized="true">
    <div class="review-container" style="max-height: none;">
        <div class="lister-item-content">
            <div class="ipl-ratings-bar">
            <span class="rating-other-user-rating">
            <svg class="ipl-star-icon" xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
                <span>8</span><span class="point-scale">/10</span>
            </span>
            </div>
            <div class="title">James Franco breaks new ground</div>
            <div class="display-name-date">
                <span class="display-name-link"><a href="/user/ur18408040/?ref_=tt_urv">Danielle De Colombie</a></span><span class="review-date">8 December 2017</span>
            </div>
            <div class="content">
                <div class="text">Ed Wood was Stanley Kubrick compared to Tommy Wiseau but James Franco treats him with such loving care that we can connect with his humanity without letting his eccentricities pull us away from him. That, I think, was the most moving aspect of this outrageous true life tale. James Franco is spectacular keeping it true and real in a character that lent itself for caricature. Dave Franco, James's brother in real life is the most believable instant soulmate of the James Dean wannabe. Seth Rogen is also perfect as the one knows that they're in for a major disaster and yet sees the whole thing to the bitter end. I must confess I hadn't heard of The Room but now it's on top of my list of films I want to see next.</div>
                <div class="actions text-muted">
                    31 out of 33 found this helpful.
                    <span>Was this review helpful? <button class="btn small" data-value="UP">Yes</button> <button class="btn small" data-value="DOWN">No</button></span>
                    | <a href="https://contribute.imdb.com/review/tt3521126/rw3877210/report?bus=imdb&amp;return_url=http%3A//www.imdb.com/close_me&amp;site=www&amp;ref_=tt_urv" onclick="imdb.contribution.clickHandler(event)">Report this</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="gradient-expander hidden show-more">
        <div class="gradient-container"></div>
        <div class="ipl-expander ">
            <div class="ipl-expander__container">
                <span class="show-more__control ipl-expander__control">&nbsp;</span>
                <svg class="ipl-expander__icon expander-icon " width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.197 0L6 4.304 1.803 0 0 1.85 6 8l6-6.15" fill="#2572B3" fill-rule="evenodd"></path>
                </svg>
            </div>
        </div>
    </div>
</div>


<div class="lister-item mode-detail imdb-user-review  collapsable" data-vote-url="/title/tt3521126/review/rw3877210/vote/interesting" data-initialized="true">
    <div class="review-container" style="max-height: none;">
        <div class="lister-item-content">
            <div class="ipl-ratings-bar">
            <span class="rating-other-user-rating">
            <svg class="ipl-star-icon" xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
                <span>8</span><span class="point-scale">/10</span>
            </span>
            </div>
            <div class="title">James Franco breaks new ground</div>
            <div class="display-name-date">
                <span class="display-name-link"><a href="/user/ur18408040/?ref_=tt_urv">Danielle De Colombie</a></span><span class="review-date">8 December 2017</span>
            </div>
            <div class="content">
                <div class="text">Ed Wood was Stanley Kubrick compared to Tommy Wiseau but James Franco treats him with such loving care that we can connect with his humanity without letting his eccentricities pull us away from him. That, I think, was the most moving aspect of this outrageous true life tale. James Franco is spectacular keeping it true and real in a character that lent itself for caricature. Dave Franco, James's brother in real life is the most believable instant soulmate of the James Dean wannabe. Seth Rogen is also perfect as the one knows that they're in for a major disaster and yet sees the whole thing to the bitter end. I must confess I hadn't heard of The Room but now it's on top of my list of films I want to see next.</div>
                <div class="actions text-muted">
                    31 out of 33 found this helpful.
                    <span>Was this review helpful? <button class="btn small" data-value="UP">Yes</button> <button class="btn small" data-value="DOWN">No</button></span>
                    | <a href="https://contribute.imdb.com/review/tt3521126/rw3877210/report?bus=imdb&amp;return_url=http%3A//www.imdb.com/close_me&amp;site=www&amp;ref_=tt_urv" onclick="imdb.contribution.clickHandler(event)">Report this</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="gradient-expander hidden show-more">
        <div class="gradient-container"></div>
        <div class="ipl-expander ">
            <div class="ipl-expander__container">
                <span class="show-more__control ipl-expander__control">&nbsp;</span>
                <svg class="ipl-expander__icon expander-icon " width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.197 0L6 4.304 1.803 0 0 1.85 6 8l6-6.15" fill="#2572B3" fill-rule="evenodd"></path>
                </svg>
            </div>
        </div>
    </div>
</div>

<div class="lister-item mode-detail imdb-user-review  collapsable" data-vote-url="/title/tt3521126/review/rw3877210/vote/interesting" data-initialized="true">
    <div class="review-container" style="max-height: none;">
        <div class="lister-item-content">
            <div class="ipl-ratings-bar">
            <span class="rating-other-user-rating">
            <svg class="ipl-star-icon" xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
                <span>8</span><span class="point-scale">/10</span>
            </span>
            </div>
            <div class="title">James Franco breaks new ground</div>
            <div class="display-name-date">
                <span class="display-name-link"><a href="/user/ur18408040/?ref_=tt_urv">Danielle De Colombie</a></span><span class="review-date">8 December 2017</span>
            </div>
            <div class="content">
                <div class="text">Ed Wood was Stanley Kubrick compared to Tommy Wiseau but James Franco treats him with such loving care that we can connect with his humanity without letting his eccentricities pull us away from him. That, I think, was the most moving aspect of this outrageous true life tale. James Franco is spectacular keeping it true and real in a character that lent itself for caricature. Dave Franco, James's brother in real life is the most believable instant soulmate of the James Dean wannabe. Seth Rogen is also perfect as the one knows that they're in for a major disaster and yet sees the whole thing to the bitter end. I must confess I hadn't heard of The Room but now it's on top of my list of films I want to see next.</div>
                <div class="actions text-muted">
                    31 out of 33 found this helpful.
                    <span>Was this review helpful? <button class="btn small" data-value="UP">Yes</button> <button class="btn small" data-value="DOWN">No</button></span>
                    | <a href="https://contribute.imdb.com/review/tt3521126/rw3877210/report?bus=imdb&amp;return_url=http%3A//www.imdb.com/close_me&amp;site=www&amp;ref_=tt_urv" onclick="imdb.contribution.clickHandler(event)">Report this</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="gradient-expander hidden show-more">
        <div class="gradient-container"></div>
        <div class="ipl-expander ">
            <div class="ipl-expander__container">
                <span class="show-more__control ipl-expander__control">&nbsp;</span>
                <svg class="ipl-expander__icon expander-icon " width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.197 0L6 4.304 1.803 0 0 1.85 6 8l6-6.15" fill="#2572B3" fill-rule="evenodd"></path>
                </svg>
            </div>
        </div>
    </div>
</div>



</body>
</html>