<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<!-- The included template contains all the links, JS and Styling files to be included in the pages, to alter the contents please refer to templates/included.html file -->
<% include ../templates/included.html %>

<head>
    <meta charset="UTF-8">
    <title>Tutor booking page</title>


</head>
<body>

<div class="container" style="padding-top:20px;">
    <h1 style="text-align: center">Booking from  </h1>
    <div class="container" style="border-style: solid; border-color: darkgrey; border-radius:5px;">
        <p>Subject: </p>
        <p>Date: </p>
        <p>Location: </p>
    </div>
    <br>
    <div class="container" style="border-style: solid; border-color: darkgrey; border-radius:5px;">
        <p>Description: </p>
        <p>Attachment: </p>
    </div>
    <div class="container" style="padding-top: 20px;">

        <div class="row justify-content-center">
            <div class="col" style="text-align: center;">
                <button type="button" class="btn btn-info">Info</button>
            </div>
            <div class="col" style="text-align: center;">
                <button type="button" class="btn btn-danger">Cancel</button>
            </div>
        </div>

    </div>


</div>

</body>

<script>
    var data = "<%=booking[0].tuteeID%>";
    console.log(data);

</script>
</html>